<h3><%= @menu.name %></h3>

<div class="menu-item-list">

  <ul class="menu-items list-group">
    <% @menu_items.each do |item| %>
      <%= render 'menu_items/menu_item', :menu_id => menu.id, :menu_item => item %>
    <% end %>
  </ul>
</div>
<%= link_to "New Item", "#", :class => 'new-menu-item' %>

<%= render 'menu_items/form', :menu_item => @menu_item %>
